body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to top, #027368, #025959, #013A40);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .memory-game {
    text-align: center;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    grid-gap: 10px;
    margin-top: 20px;
  }
  
  .card {
    background-image: linear-gradient(to right, #F2EDD5, #D9D5A7);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.1);
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  